@import url(./variables.css);

.required::after     {
    content: ' *';
    color: red;
    /* color: var(--main-red-color); */
    font-weight: 600;
}
.error-msg {
    font-size: 12px;
    color: var(--main-red-color);
}
.keep-together {
    word-break: keep-all;
    display: inline-block;
}
.disabled {
    opacity: .4;
    pointer-events: none;
}
.object-fit-cover {
    object-fit: cover;
}